@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;

700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  height: 50px;
  padding: 0 15px;
  background: -o-linear-gradient(180.08deg, rgba(0, 0, 0, 0) 0.07%, #0C0C0C 99.93%);
  background: linear-gradient(269.92deg, rgba(0, 0, 0, 0) 0.07%, #0C0C0C 99.93%);
  width: 100%;
  color: white;
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  z-index: 10;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header--black {
  background: transparent;
  color: black;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  overflow: hidden;
}

.navbar__list {
  min-width: 0;
  margin-left: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__item {
  border-bottom: 1px solid white;
  margin: 0 12px 0;
  min-width: 0;
}

.navbar__item:hover {
  opacity: 50%;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  font-family: 'PT Sans', sans-serif;
}

.title--small {
  font-size: 18px;
  line-height: 21px;
}

.orders {
  font-family: 'PT Sans', sans-serif;
  position: relative;
}

.orders__cart {
  height: 18px;
  width: 16px;
}

.orders__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 50%;
}

.orders__link:hover {
  opacity: 50%;
}

.orders__count {
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  background: #4541FE;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: -8px;
  left: 6px;
  visibility: hidden;
}

.orders__text {
  border-bottom: 1px solid white;
  margin-left: 5px;
}

.orders--black {
  background: transparent;
  color: black;
}

.footer {
  background-color: black;
  color: white;
  min-height: 350px;
  width: 100%;
  padding: 32px 15px;
  font-family: 'PT Sans', sans-serif;
}

.footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__about-list {
  margin-top: 8px;
  margin-bottom: 32px;
}

.footer__about-item,
.footer__item {
  margin-bottom: 8px;
  line-height: 21px;
}

.footer__list:not(:first-child) {
  margin-bottom: 12px;
  margin-right: 10px;
}

.footer__item:first-of-type {
  font-size: 18px;
  font-weight: 700;
}

.footer__item:not(:first-child),
.footer__about-list {
  margin-left: 10px;
}

.footer__link {
  border-bottom: 1px solid white;
}

.footer__link:hover {
  opacity: 50%;
}

.footer__info {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 55%;
  font-size: 13px;
  color: #666666;
}

.footer__team,
.footer__privacy-policy,
.footer__maintenance {
  padding: 10px 0;
}

.footer__info-link {
  border-bottom: 1px solid #666666;
}

.footer__info-link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.contacts {
  margin-left: 10px;
  font-family: 'PT Sans', sans-serif;
}

.phone {
  font-weight: 700;
  line-height: 21px;
  padding: 10px 0 20px 0;
}

.phone-number:hover {
  opacity: 50%;
}

.phone-msg {
  margin-top: -5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  opacity: 75%;
}

.mail {
  border-bottom: 1px solid white;
  font-family: 'PT Sans', sans-serif;
}

.mail:hover {
  opacity: 50%;
}

.content {
  padding-top: 56px;
}

.heading {
  background: black;
  height: 160px;
  padding-top: 24px;
}

.heading__title {
  font-family: PT Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  color: white;
}

.shoe-grid {
  margin-top: -60px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  grid-template-rows: repeat(4, 344px);
  grid-gap: 32px;
}

.shoe {
  height: 240px;
  max-width: 100%;
}

.shoe__description {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  width: 70%;
}

.shoe__title {
  margin-top: 8px;
}

.shoe__sub-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.shoe__price {
  margin-top: 12px;
}

.pages {
  padding: 20px 0;
  color: #666666;
}

.pages__title {
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 5px;
}

.pages__array {
  line-height: 24px;
  margin-top: 10px;
}

.pages__item--bold {
  font-weight: 700;
  font-size: 24px;
}

a {
  color: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

.container {
  margin: auto;
  max-width: 1136px;
  height: 100%;
}

.main__slider {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__slider .slick-arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  font-size: 0;
  width: 16px;
  height: 20px;
}

.main__slider .slick-prev {
  left: 20px;
  background: url("../img/icons/arr-left.svg") 0 0/100% no-repeat;
}

.main__slider .slick-next {
  right: 20px;
  background: url("../img/icons/arr-right.svg") 0 0/100% no-repeat;
}

.main__slider-img {
  height: 600px;
  width: 100%;
}

.main__slider-item {
  position: relative;
}

.main__slider-sub-text {
  position: absolute;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  z-index: 15;
  bottom: 75px;
  left: 155px;
}

.main__slider-decor--black {
  border-bottom: 2px solid black;
  color: black;
}

.main__slider-decor--white {
  border-bottom: 2px solid white;
  color: white;
}

.main__content {
  margin-top: 50px;
  margin-bottom: 70px;
}

.main__body {
  padding: 10px;
  display: grid;
  grid-template-columns: 280px repeat(5, 1fr);
}

.main__about {
  width: 240px;
  font-size: 18px;
  margin-bottom: 60px;
}

.main__text span {
  font-weight: 700;
}

.main__text:not(:first-of-type) {
  margin-top: 20px;
}

.main__list {
  color: #4541FE;
}

.main__list:not(:first-child) {
  margin-bottom: 12px;
  margin-right: 10px;
}

.main__item {
  margin-bottom: 8px;
  line-height: 21px;
}

.main__item:first-of-type {
  font-size: 18px;
  font-weight: 700;
}

.main__item:not(:first-child) {
  margin-left: 10px;
}

.main__link {
  border-bottom: 1px solid #4541FE;
}

.main__link:hover {
  opacity: 50%;
}

.collections {
  display: grid;
  grid-template-columns: 464px 655px;
  grid-template-rows: 320px 160px 480px;
  grid-gap: 24px;
  grid-template-areas: "summer new" "choice new" "preorder preorder";
}

.collections__summer {
  background: #FFA88C;
  width: 464px;
  height: 320px;
  grid-area: summer;
}

.collections__summer,
.collections__new,
.collections__preorder {
  position: relative;
}

.collections__summer,
.collections__new,
.collections__choice,
.collections__preorder {
  padding: 24px 16px;
}

.collections__link {
  display: inline-block;
  border-bottom: 2px solid black;
}

.collections__link--white {
  border-bottom: 2px solid white;
}

.collections__link:hover {
  opacity: 50%;
}

.collections__link,
.collections__sub-title,
.collections__title {
  position: relative;
}

.collections__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.collections__sub-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  z-index: 5;
}

.collections__title--white,
.collections__sub-title--white {
  color: white;
}

.collections__img,
.collections__image,
.collections__pic {
  position: absolute;
}

.collections__img {
  top: 54px;
  left: 17px;
}

.collections__image {
  left: 7px;
}

.collections__pic {
  bottom: 25px;
}

.collections__pic--left {
  left: -15%;
}

.collections__pic--center {
  left: 30%;
}

.collections__pic--right {
  right: -20%;
}

.collections__choice {
  background: #7482FF;
  width: 464px;
  height: 160px;
  grid-area: choice;
}

.collections__new {
  background: #FFE9FD;
  max-width: 655px;
  height: 504px;
  grid-area: new;
}

.collections__preorder {
  background: #F3F3F3;
  height: 480px;
  max-width: 100%;
  overflow: hidden;
  grid-area: preorder;
}

@media (max-width: 1120px) {
  .header {
    background-color: black;
  }

  .header--black {
    background: transparent;
    color: black;
  }

  .orders__link {
    opacity: 100%;
  }

  .orders__text {
    display: none;
  }

  .footer__navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }

  .heading__title {
    margin: auto;
    width: 400px;
  }

  .shoe-grid {
    grid-template-columns: repeat(2, 136px);
    grid-template-rows: repeat(8, 232px);
    grid-gap: 16px;
    margin: -60px auto 0;
    width: 400px;
  }

  .shoe__description {
    font-size: 13px;
    line-height: 17px;
  }

  .shoe__img {
    height: 136px;
    width: 136px;
  }

  .pages {
    width: 400px;
    margin: auto;
  }

  .main__slider-sub-text {
    bottom: 32px;
    left: 16px;
    font-size: 48px;
  }

  .main__body {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .main__about:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
  }

  .main__about {
    margin-bottom: 25px;
  }

  .collections {
    grid-template-columns: 1fr;
    grid-template-areas: "summer" "choice" "new" "preorder";
    grid-gap: 0;
  }

  .collections__summer,
  .collections__new,
  .collections__preorder {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .collections__summer,
  .collections__choice,
  .collections__new,
  .collections__preorder {
    width: 100vw;
  }
}